/* Write your CSS here */
.body-bg-container {
  display: flex;
}
.left-navbar-container {
  background-color: #cbd5e1;
  color: #475569;
  padding: 10px;
  margin: 5px;
  flex-grow: 1;
}
.content-bg-container {
  background-color: #f1f5f9;
  color: #475569;
  padding: 10px;
  margin: 5px;
  flex-grow: 1;
}
.right-navbar-container {
  background-color: #cbd5e1;
  color: #475569;
  padding: 10px;
  margin: 5px;
  flex-grow: 1;
}
